{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
  {% block pagecontent %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Property Details</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Property Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Apartment Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">
            <article class="blog-details">

              <div class="post-img">
                <img src="{{ property_detail.property_imageURL}}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{property_detail.name}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i>{{ property_detail.location }}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#comments">{{ reviews.count }} Reviews</a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>
                  {{property_detail.description}}
                </p>
                <p>
                  {{property_detail.amenities}}
                </p>

                <p>
                  {{property_detail.utilities}}
                </p>
                <blockquote>
                  <p>
                    SECURITY: <br>
                    {{property_detail.security_features}}
                
                  </p>
                </blockquote>
                

              </div><!-- End post content -->
            </article><!-- End blog post -->
  

            <article class="blog-details">
             
              <div class="post-img">
                <img src="{{property_detail.unit_imageURL}}" alt="" class="img-fluid">
              </div>
              <h2 class="title"> Unit information</h2>
              <p> Below is information about a unit in the above property</p>
              <div class="content">
                <p>
                  {{property_detail.unit_description}}
                </p>
                <p>
                  Number of Bedrooms: {{property_detail.bedrooms}}
                </p>

                <p>
                  Number of Bathrooms: {{property_detail.bathrooms}}
                </p>
                <p>
                  Unit size: {{property_detail.unit_size}}
                </p>
                <blockquote>
                  <p>
                    Security deposit: <br>
                    {{property_detail.security_deposit}}
                
                  </p>
                </blockquote>
               

              </div><!-- End post content -->
            </article><!-- End blog post -->
  
            <div class="comments" id="comments">

              <h4 class="comments-count">User reviews</h4>
            {% for review in reviews %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{{customer.customer_imageURL}}" alt=""></div>
                  <div>
                    <h5>{{review.name}}</h5>
                    <time datetime="2020-01-01">{{review.date}}</time>
                    <p>
                     {{review.comment}}
                    </p>
                  </div>
                </div>
              </div><!-- End comment #1 -->
          
            {% endfor %}
           
              <div class="reply-form">
           
                <h4>Leave a Review</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form method="post" action="{% url 'apartmentdetails' property_code=property_detail.property_code %}">

                  {% csrf_token %}  
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" id="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="email" name="email" id="email" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Review</button>

                </form>

              </div>

            
            </div><!-- End blog comments -->

          </div>
        

          <div class="col-lg-4">

            <div class="sidebar">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form method="post" role="search" action="{% url 'apartments' %}" class="mt-3">
                  {% csrf_token %}
                  <input type="text" name="search_term" id="search_term">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Search Categories</h3>
                <br>
                <p>The following are specific search criteria. If you select "rent amount", type the rent amount you wish to search for in search bar, For example, 10000. If you select "location", type your preferred location, For example, Kasarani...</p>
                <ul class="mt-3">
                  <li><input type="radio" name="include_rent_amount"> Rent amount </li>
                  <li><input type="radio" name="include_rent_amount"> Security features</li>
                  <li><input type="radio" name="include_rent_amount"> Location</li>
                  <li><input type="radio" name="include_rent_amount"> Amenities</li>
                  <li><input type="radio" name="include_rent_amount"> Utilities</li>
                  <li><input type="radio" name="include_rent_amount"> Property or unit size</li>
                  <li><input type="radio" name="include_rent_amount"> Accessibility features</li>
                  <li><input type="radio" name="include_rent_amount"> Rules and regulations such as no pets</li>
                </ul>
              </div><!-- End sidebar categories-->

              
              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Tags</h3>
                <ul class="mt-3">
                  <li><a href="#">Rent amount</a></li>
                  <li><a href="#">Security features</a></li>
                  <li><a href="#">Location</a></li>
                  <li><a href="#">Amenities</a></li>
                  <li><a href="#">Utilities</a></li>
                  <li><a href="#">Property or unit size</a></li>
                  <li><a href="#"> Accessibility features</a></li>
                  <li><a href="#">Rules and regulations</a></li>
                 
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        
        </div>
        </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

  {% endblock %}

</body>

</html>