{% extends 'landlord/landlordBase.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
{% block pagecontent %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Apartment information</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
            <h5 class="card-title">Add Your Apartment Listing:</h5>
            <p class="small fst-italic">Input details about your apartment now and have the flexibility to edit at any time. Keep your listing up-to-date effortlessly!</p>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">


                    <ul class="nav nav-tabs nav-tabs-bordered">
                       
                        <li class="nav-item">
                          <button class="nav-link" data-bs-toggle="tab"> <a href="/propertyManagement/">Edit apartment details </a></button>
                        </li>
                               
                      </ul>


                    <form method="post" action="/propertyManagement/" enctype="multipart/form-data">

                        {% csrf_token %}
        
                        <div class="row mb-3">
                            <label for="property_image" class="col-md-4 col-lg-3 col-form-label">Property Image</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="property_image" type="file" class="form-control" id="property_image">
                              <div class="pt-2">
                                <a href="#" id="upload-profile-image" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                <a href="#" id="remove-profile-image" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                              </div>
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Property Name</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="name" type="text" class="form-control" id="name">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="Address" class="col-md-4 col-lg-3 col-form-label">Location</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="address" type="text" class="form-control" id="address">
                            </div>
                          </div>
      
                          
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Property type</label>
                            <div class="col-md-8 col-lg-9">
                              
      
                              <input type="radio" name="property_types" id="property_types" value="apartment">
                              <label for="apartment_building" class="form-check-label">Apartment</label> 
      
                              <input type="radio" id="property_types" value="single_family_home" name="property_types">
                              <label for="single_family_home" class="form-check-label">Single family home</label> 
      
                              <input type="radio" id="property_types" value="condominium" name="property_types">
                              <label for="condominium" class="form-check-label">Condominium</label> 
      
                              <input type="radio" id="property_types" value="duplex" name="property_types">
                              <label for="duplex" class="form-check-label">Duplex</label> 
      
                            </div>
                          </div>


                          <div class="row mb-3">
                            <label for="average_rent" class="col-md-4 col-lg-3 col-form-label">Average rent</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="average_rent" type="text" class="form-control" id="average_rent">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Total units</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="totalunits" type="number" class="form-control" id="totalunits">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Property size</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="property_size" type="text" class="form-control" id="property_size">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Building age</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="building_age" type="text" class="form-control" id="building_age">
                            </div>
                          </div>
      
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Amenities</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="amenities" type="text" class="form-control" id="amenities">
                            </div>
                          </div>
      
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Utilities</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="utilities" type="text" class="form-control" id="utilities">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Maintenance services</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="maintenance" type="text" class="form-control" id="maintenance">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Parking</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="parking" type="text" class="form-control" id="parking">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Security</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="security" type="text" class="form-control" id="security">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Rules</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="rules" type="text" class="form-control" id="rules">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Accessibility features</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="accessibility" type="text" class="form-control" id="accessibility">
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Management company (if any)</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="management_company" type="text" class="form-control" id="management_company">
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Lease terms (if any)</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="lease_terms" type="text" class="form-control" id="lease_terms">
                              <input name="lease_terms" type="file" class="form-control" id="lease_terms">
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Property description</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="description" type="text" class="form-control" id="description">
                            </div>
                          </div>


                          <h4> Add details about at least one unit in your property, such as an apartment from your apartment building</h4>
                          
                          <div class="row mb-3">
                            <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Unit Image</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="unit_image" type="file" class="form-control" id="unit_image">
                              <div class="pt-2">
                                <a href="#" id="upload-profile-image" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                <a href="#" id="remove-profile-image" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                              </div>
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Floor Number</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="floornumber" type="number" class="form-control" id="floornumber">
                            </div>
                          </div>
      

                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Bedrooms</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="bedrooms" type="number" class="form-control" id="bedrooms">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="Address" class="col-md-4 col-lg-3 col-form-label">Bathrooms</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="bathrooms" type="text" class="form-control" id="bathrooms">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Unit size</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="unit_size" type="text" class="form-control" id="unit_size">
                            </div>
                          </div>
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Rent amount</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="rent" type="text" class="form-control" id="rent">
                            </div>
                          </div>
      
      
                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Security deposit</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="deposit" type="text" class="form-control" id="deposit">
                            </div>
                          </div>


                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Description</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="description" type="text" class="form-control" id="description">
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Availability</label>
                            <div class="col-md-8 col-lg-9">
                              
                              <input type="radio" name="availability" id="availability" value="True">
                              <label for="yes" class="form-check-label">YES</label> 
      
                              <input type="radio" id="availability" value="False" name="availability">
                              <label for="no" class="form-check-label">NO</label> 
      
                           
                            </div>
                          </div>




                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                      </form><!-- End Profile Edit Form -->
    
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

{% endblock %}
</body>
</html>
    