{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
{% block pagecontent %}
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>RENTHUB</span></h2>
            <p data-aos="fade-up">Your ultimate destination for all things rental! Whether you're searching for your dream apartment or looking 
              to advertise your rental property, RentHub has you covered. With advanced search 
              features, and value-added services such as virtual property tours and online rental payments, 
              RentHub makes renting easier and more convenient than ever before.
               Join RentHub today and experience the future of rental management!</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#constructions" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url('/static/img/hero-carousel/hero-carousel-1.jpg')"></div>
      <div class="carousel-item" style="background-image: url('/static/img/hero-carousel/hero-carousel-2.jpg')"></div>
      <div class="carousel-item" style="background-image: url('/static/img/hero-carousel/hero-carousel-3.jpg')"></div>
      <div class="carousel-item" style="background-image: url('/static/img/hero-carousel/hero-carousel-4.jpg')"></div>
      <div class="carousel-item" style="background-image: url('/static/img/hero-carousel/hero-carousel-5.jpg')"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Constructions Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Apartments</h2>
          <p>RentHub offers a diverse selection of apartments from various regions, catering to different budgets and preferences with flexible rent prices and customizable search options.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(/static/img/constructions-1.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Nairobi.</h4>
                    <p>Renthub has several apartments from different regions within Nairobi such as Westlands, Kilimani, Lavington, Parklands, Eastlands, etc.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(/static/img/constructions-2.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Kiambu</h4>
                    <p>Renthub has several apartments from different regions within Kiambu such as Ruiru, Limuru, Kikuyu, Juja, Kiambu town, Ruaka, etc.</p>                 </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(/static/img/constructions-3.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Mombasa</h4>
                    <p>Renthub has several apartments from different regions within Mombasa such as Nyali, Bamburi, Mtwapa, Likoni, Shanzu, Ganjoni, etc.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(/static/img/constructions-4.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Meru</h4>
                    <p>Renthub has several apartments from different regions within Meru such as Meru town.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Constructions Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Services</h2>
          
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Location</h3>
              <p>RentHub allows users to search for apartments based on specific locations, including popular neighborhoods and suburbs.
                Users can filter their search results by preferred areas to find apartments that match their desired location criteria.</p>
              <a href="{% url 'aboutus' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Prices</h3>
              <p>RentHub provides transparency in rental pricing, allowing users to view rental rates for different apartments listed on the platform.
                Users can filter search results by price range to find apartments that fit within their budget.</p>
              <a href="{% url 'aboutus' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>User Reviews</h3>
              <p>RentHub enables users to leave reviews and ratings for apartments they have rented, sharing their experiences with others.
                User reviews provide valuable insights for prospective tenants and contribute to building trust and credibility within the RentHub community.</p>
              <a href="{% url 'aboutus' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Landlord Listings</h3>
              <p>Landlords can easily create listings for their apartments on RentHub, including adding images, detailed descriptions, and pricing information.
                Landlords have the flexibility to showcase their properties effectively to attract potential tenants.</p>
              <a href="{% url 'aboutus' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Apartment Images and Details</h3>
              <p>RentHub allows landlords to upload high-quality images of their apartments, providing users with a visual representation of the property.
                Detailed descriptions of each apartment, including amenities, room sizes, and additional features, help users make informed decisions.
               </p>
              <a href="{% url 'aboutus' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Landlord Dashboard</h3>
              <p>RentHub allows landlords to upload high-quality images of their apartments, providing users with a visual representation of the property.
                Detailed descriptions of each apartment, including amenities, room sizes, and additional features, help users make informed decisions.
               </p>
              <a href="{% url 'aboutus' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

          <li class="nav-item col-6">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>LANDLORDS</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-6">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>USERS</h4>
            </a>
          </li><!-- End tab nav item -->
        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                
                <ul>
                  <li><i class="bi bi-check2-all"></i> Create, edit, and manage property listings.</li>
                  <li><i class="bi bi-check2-all"></i> Send messages and notifications to tenants.</li>
                  <li><i class="bi bi-check2-all"></i>Track rent payments and view payment history.</li>
                  <li><i class="bi bi-check2-all"></i>Review and address tenant maintenance requests.</li>
                  <li><i class="bi bi-check2-all"></i>Access insights and analytics about rental properties.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'img/features-1.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <ul>
                  <li><i class="bi bi-check2-all"></i>Easily search for apartments and filter results based on location, price, and other preferences.</li>
                  <li><i class="bi bi-check2-all"></i>View detailed property listings, including photos and descriptions, and book appointments for property viewings.</li>
                  <li><i class="bi bi-check2-all"></i>Read reviews and ratings from other users to make informed decisions about rental properties.</li>
                  <li><i class="bi bi-check2-all"></i>Communicate with landlords regarding inquiries, scheduling viewings, and discussing rental terms.</li>
                  <li><i class="bi bi-check2-all"></i>Make rental payments securely through the platform and track payment history.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/features-1.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          
          

        </div>

      </div>
    </section><!-- End Features Section -->
    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Explore what users and landlords have to say about their experiences with RentHub. </p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Tenant</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    RentHub made my apartment search so much easier! The search filters helped me narrow down options, and the detailed listings provided all the information I needed. Found my dream apartment within days!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div> <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Tenant</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I've had a great experience using RentHub. The platform is user-friendly, and the communication with landlords was seamless. I highly recommend it to anyone looking for a hassle-free rental experience.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Tenant</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    RentHub is a game-changer! The reviews from other users gave me confidence in my choice, and the ability to book viewings directly through the platform saved me a lot of time. Found the perfect place in no time!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Landlord</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    As a landlord, RentHub has been invaluable for managing my rental properties. The dashboard makes it easy to track rent payments, communicate with tenants, and address maintenance requests. Highly recommended for property owners!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Landlord</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I've been using RentHub to list my rental properties, and I couldn't be happier. The platform is user-friendly, and the support team is always available to assist with any questions or concerns. RentHub has definitely simplified the rental process for me as a landlord.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    

  </main><!-- End #main -->

  {% endblock %}
    

</body>

</html>