{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
  {% block pagecontent %}
  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Password reset</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Password reset</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container">

        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">WELCOME</span>
                        <span class="section-heading-lower">Reset Password</span>
                    </h2>

                    <form  method = 'POST' class = "row g-3">
            
                                {% csrf_token %}
                                {{form|crispy}}
                                <div class = "intro-button mx-auto">
                                    <button type="submit" name = 'save' class ='btn mt-3 btn-primary btn-xl mb-2' >Reset password</button>
                                </div>
                        
                    </form>    

                </div>
            </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

 {% endblock %}

</body>

</html>