{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">

<body>
{% block pagecontent %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Register</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Register</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container">

        <form  method = 'POST' class = "row g-3" action ="/register/">
                    
          {% csrf_token %}
         
          <div class="col-md-4">
              <p class="text-start"> Name: </p>

          </div>
          <div class="col-md-3">
              <input required type="text" class="form-control" id="fname" name="fname" autocomplete="given-name">
              <label for="fname" class="form-label">First name</label>
          </div>

              <div class="col-md-3">
                  <input required type="text" class="form-control" id="lname" name="lname" autocomplete="family-name">
                  <label for="lname" class="form-label">Last name</label>
              </div>

              <div class="col-md-4">
                  <p class="text-start"> Username: </p>

              </div>

              <div class="col-md-6">
                  <input required type="text" class="form-control" id="username" name="username" autocomplete="username">
              </div>

              <div class="col-md-4">
                  <p class="text-start"> Phone number: </p>

              </div>
              <div class="col-md-6">
               
                  <input required type="text" class="form-control" id="phonenumber" name="phonenumber" autocomplete="tel">
              </div>

              <div class="col-md-4">
                  <p class="text-start"> Email address: </p>

              </div>
              <div class="col-md-6">                                            
                  <input required type="email" class="form-control" id="email" name="email" autocomplete="email">
              </div>

      
              <div class="col-md-12">
                  <p class="text-start">Gender: </p>
                  <ul class="list-unstyled">
                  <li class="d-block w-30 float-start"><input type="radio" class="option-input" name="gender" id="male" value="male">
      
                  <label for="male" class="form-check-label">Male</label> </li>                                            
      
                  <li class="d-block w-30 float-start"><input type="radio" class="option-input" id="female" value="female" name="gender">
                  <label for="female" class="form-check-label">Female</label> </li>

                  <li class="d-block w-30 float-start"><input type="radio" class="option-input" id="other" value="other" name="gender">
                      <label for="other" class="form-check-label">Other</label> </li>

                  </ul>
              </div> 

              <div class="col-md-4">
                  <p class="text-start"> Password: </p>

              </div>

              <div class="col-md-6">
                  <input required type="password" class="form-control" id="password" name="password" autocomplete="new-password">
              </div>

              <div class="col-md-4">
                  <p class="text-start"> Confirm password: </p>

              </div>

              <div class="col-md-6">
                  <input required type="password" class="form-control" id="pass2" name="pass2"  autocomplete="current-password">
              </div>

                                                          
              <div class="col-12 text-center my-5">
              <input type="submit" class="btn btn-outline-primary btn-lg1" value="Sign up!">
              </div>
          </form>

           

      <p> You already have an account?<a href = '/login'> Login </a> </p>
  
</form>    


      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}

</body>

</html>